figure.honey {
	background: #4a3753;
}

figure.honey img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.honey:hover img {
	opacity: 0.5;
}

figure.honey figcaption::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.honey .content {
	display: inline;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1em 1.5em;
	width: 100%;
	text-align: left;
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.honey .content * {
	display: inline;
}

figure.honey .content .hoverContent {
	display: inline;
	font-style: normal;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.honey .content .hoverContent * {
	display: inline;
}

figure.honey figcaption::before,
figure.honey .content {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.honey:hover figcaption::before,
figure.honey:hover .content,
figure.honey:hover .content .hoverContent {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
